/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* ========================================
   Links
   ======================================*/

a:hover, a:active { outline: 0; }

/*=========================================
	Main Styles
=========================================*/

body {
    font-family: arial;
    font-size: 15px;
    line-height: 25px;
    color: #515151;
    background: #f2ecde;
}

.box {
    /* if not using border-box
    width: 218px;
    */
    width: 233px;
    background: #ffffff;
    float: left;
    cursor: pointer;
}

.headBox {
    width: 480px !important;
    height: 480px !important;
}

#main {
    margin-top: 10px;
}



.isotope-item {
    z-index: 2;

}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/* CUSTOM CLASSES */

.rigthDetailswrapper > h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    font-size: 18px;
    color: #6C6C6C;
    float: left;
}

#SepeteEkle {
    background: #343434;
    border-bottom: 2px solid #c86963 !important;
    line-height: 45px;
    border: none;
    padding: 0px 20px;
    color: #fff;
    font-size: 20px;
    margin: 30px 0px;
}

.product-share { margin: 10px 0; display: table; font-size: 30px !important; color: #a3a3a3; }
.product-share i { cursor: pointer;  }

.posRel {
    position: relative !important;
}

.detailtHead {
    background: #fff;
    color: #000;
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
}

.nopadding { padding: 0px 0px 0px 0px  !important; }
.nopaddingL { padding: 0px 0px 0 0  !important; margin: 0 !important; }
.nopaddingR { padding: 0px 10px 0 10px!important; margin: 0 !important; }

.mT10 { margin-top: 10px !important; }
.pB10 { padding-bottom: 10px !important; }
.mL10 { margin-left: 10px !important; }
.bgWh { background: #fff !important;  }

.img-responsive { cursor: pointer; }

.ligtBorder {
    border-top: 1px solid #d6cdbc;
}

.navBarBg {
    background: #343434;
    color : #fff;
}

.footer-newsletter { background: #908B80 ;text-align: center;}
.footer-content { }
.footer-content h2 { text-align: center; font-weight: bold; }
.footer-content ul li { text-align: center; border-bottom: 1px dotted #908B80; padding: 10px 0px;  margin: 0px 10px;}
.footer-content ul li:last-child { border-bottom: none;  }


.navBarBg a {
    color : #fff !important;
}

.navbar-default .navbar-nav>.active>a:focus {
    background-color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #000 !important;
}

.gifDetailTags span {
    background: red;
    line-height: 26px;
    display: table;
    padding: 0px 10px;
    margin: 0px;
    color: #fff;
    float: left;
    font-size: 12px;
}

.gifDetailTags span:nth-child(1) { background: #5e9d4c }
.gifDetailTags span:nth-child(2) { background: #c86963 }
.gifDetailTags span:nth-child(3) { float: right }
.rigthDetailswrapper .price { font-size: 40px; line-height: 50px; font-weight: bold; }
.rigthDetailswrapper p { font-weight: lighter; font-family: 'Open Sans', sans-serif; }
.rigthDetailswrapper hr { border-top: 1px solid #d6cdbc }

.footer { background-color: #d6cdbc; }

.detailComment {
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}
.mailList { text-align: center; text-transform: uppercase; color: #ffffff; line-height: 40px;}
.mailEkle { background-color: #343434; color: #ffffff; border: 2px #000000 solid; height: 40px;}
.mailInput { border: 0 none; width: 190px; height: 40px; font-size: 15px; position:relative; padding: 0px 10px;}

@media (min-width: 290px) and (max-width: 502px) {
    .headBox {
        width: 233px !important;
        height: 233px !important;
    }
}

